header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  #main-logo {
    font-size: 36px;
    max-width: 30%;
  }

  #dropdown-container {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: flex-end;

    :first-child {
      margin-right: 20px;
    }
  }
}
